@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Orbitron:wght@400..900&display=swap');

body {
  background-color:	#080116;
  background-position: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  color:#2de2e6;
  font-family: "Audiowide", sans-serif;
}

.container {
  width: 700px;
  height: 350px;
  position: absolute;
  background-color:	#0d0221;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  transform: translate(-50%, -50%);
  padding: 15px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 20px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  border-radius: 10px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #f222ff;
  font-style: italic;
}

img {
  transition: .1s;
}

img:hover {
  width: 60px;
}

.art {
  background-color: #060011;
  border: 1px solid #00ff00;
  border-radius: 5px;
  color: #ff901f;
  font-weight: bold;
}

.terminal {
  font-family: monospace;
  text-align: left;
  font-weight: bold;
  padding: 5px;
  color: #ff901f;
  background-color: #060011;
  border: 1px solid #00ff00;
  border-radius: 5px;
  line-height: 0.3;
}